* {
    margin: 0px;
    padding: 0px;
}
h2.english{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 1px rgb(0, 255, 242);
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
    margin-left: 25%;
    width: 50%;
    background-color: rgba(251, 255, 5, 0.637);
    box-shadow: 1px 2px 5px 5px rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px;
}
h2.english:hover{
    background-color: rgba(0, 255, 76, 0.637);
    text-shadow: 2px 1px rgb(255, 254, 254);
    box-shadow: 10px 12px 20px black;
    
}
h2.bangla{
    text-align: center;
    font-family: 10px;
    background-color: rgba(250, 99, 99, 0.315);
    border-radius: 30px;
    padding: 10px;
    margin-top: 40px;
    width: 50%;
    margin-left: 25%;
}
h2.bangla:hover{
    background-color: rgb(0, 138, 34);
    color: white;
    box-shadow: 2px 2px 5px black;
    
}
h2.welcome{
    margin-top: 3%;
    text-align: center;
    border-left: 7px dotted white;
    border-right: 7px dotted white;
    border-top-style: double;
    border-top: 8px double rgb(0, 153, 255);
    background-image: url(rose.jpg);
    padding: 20px;
    background-position: center;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.service{
    margin-top: 0px;
    color: rgb(8, 51, 247);
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(33, 255, 4, 0.219);
    font-size: 30px;
}
h2.main{
    margin-top: 5%;
    padding: 0.5rem;
    text-align: center;
    background-color: rgba(0, 255, 42, 0.24);
}
.owner{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.years{
    margin-left: 35%;
    background-color: rgb(255, 238, 0);
    padding: 10px;
    font-size: 18px;
}
footer{
    margin-top: 50px;
    background-color: gray;
    text-align: center;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
address{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 20%;
    margin-top: 5%;
    margin-left: 28%;
    width: 30%;
    background-color: rgb(255, 0, 0);
    border: 15px double black;
    padding: 20px;
}